#hidden {
  display: none;
}

#results {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.938rem;
}

h1 {
  color: rgba(229,119,30,255);
  font-family: 'Bungee Inline', cursive; 
  font-size: 2.5rem;
}

h2 {
  font-size: 2.188rem;
  color: rgba(229,119,30,255)
}

p {
  color: rgba(116,110,110,255);
  font-size: 1.5rem;
}

label {
  color: rgba(96,183,255,255);
  font-size: 1.5rem;
}

button {
  font-family: 'Press Start 2P', cursive;
  color: antiquewhite;
  height: 1.25rem;
  outline: none;
  padding: 8px 10px 18px;
  border: 2px solid rgba(116,110,110,255);
  background-color: rgba(253,71,85,255);
  border-radius: 10px;
}

img {
  max-width: 25%;
  height: auto;
}

div {
  margin: 20px;
}

body {
  text-align: center;
  background-color: rgba(255,236,180,255);
  font-family: 'Bungee', cursive;
}